* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');

body {
  background-color: #fff;
  color: #fff;
  background-color: #00063b;
  background-image: 
      radial-gradient(at 47% 33%, hsl(219.80, 45%, 42%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(309.47, 28.999999999999996%, 39%) 0, transparent 55%);
  // background-image: url('https://images.unsplash.com/photo-1574610758891-5b809b6e6e2e?q=80&w=2676&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100vh;
  font-family: "Roboto", sans-serif;

}


#root {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  // width: 100%;
  // height: 100%;
  padding: 85px 0;

}
.timerwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(60% - 50px);

}
.stopwatch-table-container {
  font-family: "Roboto", sans-serif;
}
.stopwatch {
  // padding: 85px 250px;

  padding: 85px 0px;


  backdrop-filter: blur(14px) saturate(160%);
  -webkit-backdrop-filter: blur(14px) saturate(160%);
  // background-color: rgba(27, 27, 31, 0.642);
  background-color: rgba(29, 29, 31, 0.542);
  border-radius: 12px;
  border: 1px solid rgba(211, 211, 211, 0.021);
  width: 100%;
  h1 {
    margin-bottom: 2em;
    letter-spacing: -3px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
  }
  button {
    background-color: #4869fe;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.8em 2em;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .91em;
    font-family: "Roboto", sans-serif;
    &:hover {
      background-color: #1cb351;
    }
  }
}

.stopwatch-time {
  font-weight: 500;
}




.timertime-head {
  display: grid;
  grid-template-columns: 50px repeat(3, 1fr);
  align-items: center;
  grid-gap: 5px;
  border-bottom: 1px solid rgba(255,255,255,.052);
  padding: 25px 0;

  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;


}

.timerline-body {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  display: grid;
}

.timer-line {
  display: grid;
  grid-template-columns: 50px repeat(3, 1fr);
  align-items: center;
  grid-gap: 0;
  border-bottom: 1px solid rgba(255,255,255,.052);
}


.stopwatch-table textarea {
  background-color: rgba(33,33,33,.3);
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: 0;
  background-color: transparent;

  &:focus, &:focus-visible {
    outline: none;
    border: none;
    }
}
@media (max-width: 1400px) {
  .timerwrap {
    max-width: calc(90% - 50px);
  }
}

@media (max-width: 1200px) {
  .timerwrap {
    max-width: calc(90% - 50px);
  }
}
@media (max-width: 1120px) {
  .timerwrap {
    max-width: calc(90% - 50px);
  }
}
@media (max-width: 1024px) {
  .timerwrap {
    max-width: calc(90% - 50px);
  }
}
@media (max-width: 960.98px) {
  .timerwrap {
    max-width: calc(80% - 50px);
  }
}
@media (max-width: 900.98px) {
  .timerwrap {
    max-width: calc(80% - 50px);
  }
}
@media (max-width: 768px) {
  .stopwatch-time {
    font-size: 4em;
  }
  .stopwatch {
    h1 {
      margin-bottom: 1em;
    }
  }
  #root {
    padding: 25px 0px;
  }
  .timerwrap {
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 576px) {
  #root {
    padding: 15px 0px;
  }
  .timerwrap {
    max-width: calc(100% - 20px);
  }
}
  